
<div class="column-left">
	<h2><%= @sent_emails.count %></h2>
	emails sent all-time
	<br><br>
	<h2><%= @unsent_emails.count %></h2>
	emails scheduled
</div>
<div class="column-right">
	
	<%= image_tag "faucet/droplet.png", :class => "float-left"%>
	<div class="header-right">
		<h1>Faucet</h1>
		<span class="subhead">brought to you by <%= link_to "Airtime for Email", "http://www.airtimehq.com" %></span>
	</div>

	<div class="emails">
		<div class="email-header">Emails scheduled for today</div>
		<ul>
			<% for email in @emails_today %>
				<li>Description: <%= email.description %></li>
				To: <%= email.email %><br>
				Function: <%= email.function %><br>
				Time: <%= email.time.to_s %><br>
				Sent: <%= email.sent.to_s %><br><br>
			<% end %>
		</ul>
		
		<div class="email-header">Emails sent yesterday</div>
		<ul>
			<% for email in @emails_sent_yesterday %>
				<li>Description: <%= email.description %></li>
				To: <%= email.email %><br>
				Function: <%= email.function %><br>
				Time: <%= email.time.to_s %><br>
				Sent: <%= email.sent.to_s %><br><br>
			<% end %>
		</ul>

		<% for template in @templates %>
		  <div id="<%= template[1]%>" class="email_template "><%= render :template => "#{template[0]}"%></div>
		<% end %>
		
	</div>

</div>
<div class="column-farright">
  <ul id="nav">
    <% for template in @templates %>
      <li><%= link_to template,'#',:id => "#{template[1]}", :remote => true %></li>
    <% end %>
  </ul>
</div>


<script>
$('#nav>li>a').click(function(){
  var divId = $(this).attr('id');
  $('div.emails>ul').hide('fast');
  $('div.emails>div:not(:first)').fadeOut('fast');
  $('div.emails>div:first').animate({
    width: 435
  }, 700, function(){
    $("#"+divId).fadeIn(1000);
    $(this).html("Template Preview");
  });
});
</script>